/*Master styles */
body {
    background-image: url(images/pipes.png);
    font-family: 'Oswald', sans-serif ;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */

.nav-wrapper {
    color: white;
    background-color: #5C5B5B;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    border-bottom:2px solid white;
    border-top:2px solid white;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    display: flex;
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
    color:white;
}

.active-nav-link{
    border-bottom: 1px solid white;
}

.active-nav-link a{
    color: solid black !important;
}

/* Homepage styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    font-weight: 600;
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

@media screen and (min-width:1px) and (max-width:750px) {
    .img-text-wrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
    }
    .nav-wrapper {
        font-size: 20px;
    }

    .portfolio-items-wrapper {
        display: inline;
    }

}

@media screen and (min-width:700px) and (max-width:1000px) {
    .img-text-wrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 15px;
    }
}

/* About page styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 5%;
    padding: 30px;
}

.profile-content-wrapper {
    padding-right: 100px;
    padding-top: 100px;

}

profile.content-wrapper h1 {
    color: lightseagreen;
}

@media screen and (min-width:1px) and (max-width:900px) {
    .profile-image-wrapper img {
        width: 80%;
        margin: auto;
        display: block;
        border-radius: 5%;
        padding: 30px;
        padding-top: 150px;
    }
}

@media screen and (max-width:550px) {
    .two-column-wrapper {
        display: inline;
    }

    .profile-content-wrapper {
        margin: auto;
        padding: 30px;
    }

    .profile-image-wrapper {
        width: 80%;
        margin: auto;
        padding-top: none;
    }
}

/* Contact page styling */
label {
    display: block;
    width: 50%; 
    margin: auto;
}

input {
    display: block;
    width: 50%; 
    margin: auto;
}

textarea {
    display: block;
    width: 100%; 
    height: 300px;
    margin: auto;
    resize: none;
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5C5B5B;
    border: none;
    box-shadow: 0 5px #646262;
}


.submit-button:hover {background-color: #4f4f4f}

.submit-button:active {
    background-color: #3d3c3c;
    box-shadow: 0 5px #3d3c3c;
    transform: translateY(4px);
  }

.contact-content-wrapper {
    width: 50%;
    margin: auto;
}


.form-wrapper {
    text-align: center;
}

@media screen and (max-width:900px) {
    .contact-content-wrapper{
        width: 100%;
    }
}